.tableBody, .mainContent {
    color: black;
    /*padding: 2px 2px 2px 2px;*/
    overflow: hidden;
    margin: 0;
    float: left;
    width: 50%;
    height: 700px;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 1%;
    background-color: white;
    float: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.pin1{
    left: 10px;
    float: left;
}
.pin2{
    float:right;
}
/*index*/
h2 {
    margin-left: 2.5%;
}

.tableRow {
    width: 100%;
    position: center;
}

.tableCell {
    float: left;
    width: 30%;
    background-color: beige;
    height: 150px;
    position: relative;
    margin: 0% 0% 2.5% 2.5%;
}

.buttonShow {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: lightpink;
    border: none;
    color: black;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.buttonShow:hover {
    background-color: palevioletred;
}

h2 {
    margin-left: 2.5%;
}

/*pageCategory*/

#labelOrientation {
    float: left;
    margin: 2% 0% 0% 2%;
    width: 100%;
}

#tdCategorySortBy {
    margin: 10%;
}

/*pageProduct*/
.divImageProduct {
    height: 250px;
    float: left;
    width: 40%;
    margin: 5% auto 0% 5%;
    background-color:beige;
}

.divProductPrice {
    background-color: beige;
    height: 250px;
    width: 40%;
    float: right;
    margin: 5% 5% 0% auto;
}


#buttonAddProduct {
    background-color: lightpink;
    width: 50%;
    border: none;
    color: black;
    padding: 8px 8px 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0% 25% 2% 25%;
    float: right;
}

#buttonAddProduct:hover {
    background-color: palevioletred;
}

.divInfoProduct {
    height: auto;
    width: 80%;
    background-color: beige;
    height: auto;
    margin: 10% 5% 5% 5%;
    float: left;
    padding: 5% 5% 7% 5%;
    color: black;
}

#thProductName {
    font-size: 24px;
    text-align: left;
}

#labelBack {
    color: aqua;
    float: left;
    margin: 0% 10% 10% 5%;
    font-size: 20px;
}

#tableProduct {
    height: 250px;
    padding: 5px 5px 5px 5px;
    margin: 5px;
    color: black;
}

#productPrice {
    font-size: 30px;
}
#pen1 {
    background-image: url("https://penstore.images.carismar.com/data/product/390x390/parker_jotter_steel_kulpenna.jpg");
    background-repeat: no-repeat;
    width:30%;
    height:150px;
    background-size: contain;
}
#pen2 {
    background-image: url("http://www.planwallpaper.com/static/images/maxresdefault.jpg");
    background-repeat: no-repeat;
    width: 30%;
    height: 150px;
    background-size: contain;
}

/*AdminPage*/

.divAdminAddProduct {
    width: 15%;
    padding: 2% 0% 0% 5%;
    margin: 1%;
    float: left;
}

.divAdminTextBox {
    width: 20%;
    padding: 2% 40% 0% 0%;
    margin: 1%;
    float: left;
}

.divButtonAddProduct {
    width: 100%;
    float: left;
    margin-bottom: 1%;
    margin-top: 2%;
}

.buttonProduct {
    background-color: lightpink;
    width: 20%;
    border: none;
    color: black;
    padding: 18px 18px 18px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5% 5% 2% 1%;
    float: right;
}

.buttonProduct:hover{
    background-color: palevioletred;
}

/*checkout*/

.divPayment{
    background-color:aquamarine;
    
}

